
body{
    font-family: Arial, sans-serif;
    background:#f4f4f4;
    margin:0;
}
.container{
    max-width:1000px;
    margin:auto;
    background:white;
    padding:30px;
}
h1{
    text-align:center;
}
